{{ form_start(createPostForm) }}
{{ form_errors(createPostForm) }}

<section id="picture_choice">

    <div class="d-flex justify-content-center" style="margin: 20px auto 50px auto;">
        <a href="{{ path("manage-post") }}" style=""><img src="{{ asset('img/arrow-left.png') }}" alt="flèche_gauche" style="height: 25px; width: 25px;"></a>
        <h1 style=" padding: 0 15px 25px 15px; border-bottom: 1px dashed black; border-radius: 50%;">Ecrire un article</h1>
        <a href="{{ path("manage-post") }}"><img src="{{ asset('img/arrow-right.png') }}" alt="flèche_droite" style="height: 25px; width: 25px;"></a>
    </div>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="photo">
    {{ form_label(createPostForm.picturePath) }}<br/>
    {{ form_widget(createPostForm.picturePath) }}
    </div>

</section>

