<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ absolute_url(asset('style/css/layout.css')) }}" rel="stylesheet">
    </head>

    <body>
        <section id="page-sample">
            <div class="container content-section text-left">
                <h3>Ce mail a été envoyé depuis le formulaire de contact du site riv'sourires</h3>
                <hr/>
                <p>Email de l'utilsateur : {{ data['email'] }} </p>
                <p>Nom de l'utilsateur : {{ data['nom'] }} </p>
                <p>Prénom de l'utilsateur : {{ data['prenom'] }} </p>
                <p>Message :</p>
                <p>{{ data['message'] }}</p>
            </div>
        </section>
    </body>
</html>
