{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('style/css/news.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}

    {% include 'default/carousel/carousel.html.twig' %}

{% endblock %}

{% block body %}

    <div style="background-color: rgba(255, 212, 85, 0.1);"><canvas id="scarf1"></canvas></div>

    {% for post in posts %}
        <section id="post" class="d-flex justify-content-center align-items-center">
            <div>
                <img src="{{ asset(post.picturePath) }}" alt="image_article">
            </div>
            <div>
                <div class="d-flex flex-column align-items-center justify-content-center flex-wrap" style="padding: 5px;">
                    <div class="posts-infos" style="margin-bottom: 10px;">
                        <p><i class="fa fa-calendar-o" aria-hidden="true"></i>  {{ post.publishedDate|date("d/m/Y à H:i", "Europe/Paris") }}</p>
                    </div>
                    <p>{{ post.title }}</p>
                    <p>{{ post.content|slice(0, 50)|raw }}{% if post.content|length > 50 %}...{% endif %}</p>
                    <a href="{{ path('view-post', {'id' : post.id }) }}" style="margin-top: 15px;"><button type="button" class="btn-default btn">Lire la suite</button></a>
                </div>
            </div>
        </section>
    {% endfor %}
    <div class="text-center">{{ knp_pagination_render(posts) }}</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/scarf.js') }}"></script>
    <script src="{{ asset('js/news.js') }}"></script>
{% endblock %}