{{ form_start(createPostForm) }}
{{ form_errors(createPostForm) }}

<section id="picture_choice">
    <h1 class="text-center">Administration</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="photo">
    {{ form_label(createPostForm.picturePath) }}<br/>
    {{ form_widget(createPostForm.picturePath) }}
    </div>
</section>

