<span class="nav-top-border"></span>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="{{ asset('img/logo.png') }}" width="120" height="50" alt="logo_rivsourires">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="association" class="nav-link" href="{{ path('homepage') }}" style="color: #FF99CC;">L'association</a>
                <img src="{{ asset('img/menu/pink.png') }}" alt="pelotte_laine_rose">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("homepage") }}#participate" style="color: #AFE177;">Partciper</a>
                <img src="{{ asset('img/menu/green.png') }}" alt="pelotte_laine_rose">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news') }}" style="color: #FFD455;">Actualités</a>
                <img src="{{ asset('img/menu/yellow.png') }}" alt="pelotte_laine_rose">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("homepage") }}#contact" style="color: #FF5555;">Contact</a>
                <img src="{{ asset('img/menu/red.png') }}" alt="pelotte_laine_rose">
            </li>
            {% if not is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link btn-connexion-modal" href="{{ path("login") }}" data-toggle="modal" data-target="#connexionModal" style="color: #89B7D8;">Connexion</a>
                    <img src="{{ asset('img/menu/blue.png') }}" alt="pelotte_laine_bleue">
                </li>
            {% else %}
                <li class="{% if adminMenu is defined %}active{% endif %} nav-item">
                    <a class="nav-link" href="{{ path('admin') }}" style="color: #BDCACA;"><span class="glyphicon glyphicon-cog"></span> Administration</a>
                    <img src="{{ asset('img/menu/grey.png') }}" alt="pelotte_laine_grise">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}" style="color: #89B7D8;">Déconnexion</a>
                    <img src="{{ asset('img/menu/blue.png') }}" alt="pelotte_laine_bleue">
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block javascripts %}
{% endblock %}